*
!language-nix
!.envrc
!.gitignore
!commitlintConfig.nix
!config-vscode.nix
!importFromLanguageFolder.nix
!config-zed.nix
!devShell.nix
!dev-shell.nix
!sanitizeProjectName.nix
!CONTRIBUTE.md
!install-git-hooks.nix
!lintCommit.nix
!parse-manifest-flake_nix.nix
!match-dirent.nix
!recurse.nix
!stub-project.nix
!stub-project-nix_v2.33.1.nix
!tool.nix
!tool-nix_v2.33.1.nix
