*
!language-nix
!.envrc
!.gitignore
!commitlintConfig.nix
!configVscode.nix
!importFromLanguageFolder.nix
!configZed.nix
!devShell.nix
!sanitizeProjectName.nix
!stubProject.nix
!CONTRIBUTE.md
!installGitHooks.nix
!lintCommit.nix
!recurse.nix
!getSemverTag.nix
