*
!.gitignore
!commitlint-config.nix
!config-vscode.nix
!config-vscode-nix.nix
!config-zed.nix
!config-zed-nix.nix
!dev-shell.nix
!CONTRIBUTE.md
!install-git-hooks.nix
!lint-commit.nix
!parse-manifest-flake_nix.nix
!match-dirent.nix
!recurse.nix
!stub-project.nix
!stub-project-nix_v2.33.1.nix
!tool.nix
!tool-nix_v2.33.1.nix
